.dark-green-bg {
  background-color: #425F57;
}
.med-green-bg {
  background-color: #749F82;
}
.light-green-bg {
  background-color: #A8E890;
}
.ultra-light-green-bg {
  background-color: #CFFF8D;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border-thin{
  border: black solid thin;
}
.page-footer {
  margin: 0;
  padding: 10px;
}
.page-header {
  margin: 0;
  padding: 10px 40px;
}
:root{
  box-sizing: border-box;
}
.margin-0 {
  margin: 0;
}
.margin-10 {
  margin: 10px;
}
.page-header > div > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.page-header > div > input {
  border-radius: 4px;
}
.center {
  margin: auto;
  width: fit-content;
}
.huge-button {
  width: 100%;
  background-color:#425F57;
  color: white;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.full-size {
  height: 100%;
  width: 100%;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.oi-cart:before {
  content: '\e031'
}
.width-60 {
  width: 60%;
}
.medium-huge-button {
  width: 80%;
  background-color:#425F57;
  color: white;
}